<div style="width: 100%; margin-left:5%;margin-right: 5%;">
   
    <div style="width: 85px; display:inline-block;font-size: 14px; vertical-align: top;">
       <div class="card" >
      <div class="row  ">

<nav class="nav flex-column " style=" background: #0e5061;  ">
  <a class="nav-link text-center text-white mx-auto active " style="border-bottom: 1px solid #b5d1ff;height: 85px; margin-top: 12px; " [routerLink] = "['/dataBinding']" >Data Binding</a>
  <a class="nav-link text-center text-white "  style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/ngIfThenElse']">Ng If Then Else</a>  
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/ngFor']">ngFor</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/ngSwitch']">ngSwitch</a>
    <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/sampleDirective']">Custom Directive</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/inputOutputDecorator']">Input and Output Decorator</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/ngClassAndNgStyle']">ngClass and ngStyle</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/richTextEditor']">Rich Text Editor</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/viewChild']">ViewChild Decorator</a>
   
</nav>
</div>
</div></div><div style="width:85%;display:inline-block;margin-left: 15px;vertical-align: top">
  <div style="background: #edf2f9;padding-left: 10px;">
   <router-outlet></router-outlet>
  </div>
  </div>  
  </div>




<!--The content below is only a placeholder and can be replaced.-->
<!--
<div style="text-align:center">
  <p><b>Custom Directive Example</b></p>
  <h1 redColor>
    Welcome to {{title}}!
  </h1>
  <br />  

<p><b>@Input and @Output Example</b></p>
<app-parent-for-input-output></app-parent-for-input-output>
<br />

<p><b>NgIf Then Else Example</b></p>
<app-ng-if-then-else></app-ng-if-then-else>
<br />

<p><b>Ng Switch Example</b></p>
 <app-ng-switch></app-ng-switch>

 <br />
<p><b>@ViewChild Example</b></p>
 <app-view-child></app-view-child>
 <br />
<p><b>*ngFor Example</b></p>
 <app-ng-for></app-ng-for>
 <br />
 <p><b>Data Binding Example</b></p>
 <app-data-binding></app-data-binding>
 <br />
<p><b>Rich Text Editor</b></p>
 <div style="width: 50%; margin-left: 25%"><app-rich-text-editor></app-rich-text-editor></div>
</div>-->